
#memory_card {
    margin: 5px;
    min-height: 50px;
    min-width: 50px;
    
}

#memory_card.not_solved:hover {
    transform: scale(1.05);
   
}
#memory_card.chosen{
    border-color:darkcyan;
    border-width:5px;
    border-radius:5px;
}
#memory_card.solved {
    cursor: default;
    
 
    animation:  2s 1 forwards disable_card;
}

@keyframes disable_card {
    from {
       
        text-decoration-line:none
    }

    to {
       background-color:lightslategrey;
       text-decoration-line:line-through;
    }
}

#memory_card.not_solved {
    cursor: pointer;
}


