@using MemoryGame.Models
<div class="container">
    @if(Cards  != null)
    {
        <div class="row">
            @for (int i = 0; i < Cards.Count; i++)
            {
                var index = i;

                @if(i % SideLength == 0 && i > 0)
                {
                    @:</div><div class="row">
                }

                <div class="col" style="padding: 5px;">
                    <CardComponent IsVisible="@(i == first || i == second)" 
                    Card="@Cards[i]" 
                    OnClick="@(async ()=>await Choose(index))">
                    </CardComponent>
                </div>
            }
        </div>
    }
</div>
@code {
    [Parameter]
    public List<Card>? Cards { get; set; }
    [Parameter]
    public int SideLength { get; set; } = 3;
    private int first = -1;
    private int second = -1;
    public bool AssessingChoice;
    [Parameter]
    public bool IsPlaying { get; set; }
    public bool Solved()
    {
        if (Cards == null)
            return false;
        return Cards.Where(c => !c.Solved).Count() == 0;
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if(Cards != null)
            SideLength = (int)Math.Round(MathF.Sqrt(Cards.Count()));
    }
    private async Task Choose(int choiceIndex)
    {
        if (Cards == null || !IsPlaying)
            return;

        if (!AssessingChoice && !Cards[choiceIndex].Solved)
        {
            if (first == -1)
            {
                first = choiceIndex;
            }
            else if (choiceIndex == first && second == -1)
            {
                first = -1;
            }
            else
            {
                second = choiceIndex;
            }
        }
        if (first != -1 && second != -1)
        {
            AssessingChoice = true;
            await InvokeAsync(StateHasChanged);

            try
            {
                if (Cards[first].Title == Cards[second].Title && first != second)
                {


                    Cards[first].Solved = true;
                    Cards[second].Solved = true;

                }
                else
                {
                    await Task.Delay(TimeSpan.FromSeconds(1f));
                }
            }
            catch
            {
                Console.WriteLine($"ERROR WAS FOUND WITH \nFIRST_INDEX:{first}\nSECOND_INDEX:{second}\nTOTAL_CARDS:{Cards.Count}");
            }

            first = -1;
            second = -1;
            AssessingChoice = false;
        }
        await InvokeAsync(StateHasChanged);

    }
}
